<h1>Hej <%= @user.display_name %>!</h1>

<p>
  Vad kul att du vill vara funkis på SOF!
  SOF är ett utmärkt sätt att träffa på en massa olika
  människor och att få engagera sig i Sveriges största studentarrangemang
  arrangerat av studenter. Vilken grej! Det kommer att bli några otroligt
  intensiva men helt fantastiska dagar så det är viktigt att du läser igenom
  kontraktet noga innan du skriver på.
</p>

<p>När du har anmält dig till din funktionärsplats är din anmälan bindande.
  Det innebär att vi förväntar oss att du dyker upp på ditt pass och vi ser
  gärna att du är därminst 15 minuter innan det börjar för incheckning. </p>


<p>Innan festivalen kommer det ske ett informationsmöte som är obligatoriskt
  att delta på. Mer information om detta kommer senare! Som funktionär på
  Sveriges roligaste studentarrangemang (!) arbetar du ideellt, vilket innebär
  att du inte får någon ekonomisk ersättning för det jobb du utför eller för
  de eventuella resor som tillkommer till och från festivalen. </p>

<p>Förutom rabatt på festivalbiljetten får du som funktionär också ett mål mat
  under de pass du jobbar. Som funktionär representerar du festivalen och
  därför förväntar vi oss att:
  <ul>
    <li>Du är engagerad, gör de uppgifter du blir tilldelad och håller de tider som är bestämda. </li>
    <li>Du kommer utvilad och nykter i god tid till dina arbetspass.</li>
    <li>Blir du sjuk krävs det giltigt läkarintyg för att frånvaron skall godkännas.</li>
  </ul>

  Vid frågor kan du mejla <a hres="mailto:personalutskottet@sof17.se">personalutskottet@sof17.se</a>!
</p>

<p>Snart är det dags, <b> VI SES PÅ SOF!</b></p>

<p>
  Med vänlig hälsning,
  <br/>
  StudentOrkesterFestivalen via webbservern
</p>
