<h1>Hej <%= @user.display_name %>!</h1>

<p>
  Du är nu anmäld som funkis på StudentOrkesterFestivalen. Kul att ha dig med!
</p>

<p>
  Med vänlig hälsning,
  <br/>
  StudentOrkesterFestivalen via webbservern
</p>
